<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--延迟加载的全局开关 -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>


	<!-- 设置别名 -->
	<typeAliases>
		<package name="cn.p2p.pojo" />
	</typeAliases>
</configuration>